.profile-image {
    border: 1px solid $input-border-color;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer; /* 設置光標為手型 */
}
.form-lg-border{
    border: 1px solid $input-border-color;
    border-radius: .375rem;
}
.form-lg-border-none{
    border: 1px solid $input-border-color;
    border-radius: .375rem;
}
.form-sm-shadow{
    box-shadow: 0 0.5rem 1rem rgba($black, .15);
    border-radius: .375rem;
}

@media (max-width: 575.99px) { 
    .profile-image {
        width: 150px;
        height: 150px;
        span{
            position: absolute;
            top: calc(50% - 48px);
            left: calc(50% - 48px);
            font-size: 98px;
        }
    }
    .form-lg-border{
        border: 0;
    }
    .form-sm-shadow{
        box-shadow: unset;
        border-radius: unset;
    }
 }

 @media (max-width: 991.99px) and (min-width:576px){
    .profile-image {
        width: 300px;
        height: 300px;
        span{
            position: absolute;
            top: calc(50% - 72px);
            left: calc(50% - 72px);
            font-size: 144px;
        }
    }
    .form-lg-border{
        border: 0;
    }
}

@media screen and (min-width: 992px){
    .profile-image {
        width: 400px;
        height: 400px;
        span{
            position: absolute;
            top: calc(50% - 98px);
            left: calc(50% - 98px);
            font-size: 196px;
        }
    }
    .form-lg-border-none{
        border: 0;
    }
    .form-lg-max-height{
        max-height: 1280px;
    }
}