/* 變數形式無法套用，因此這只是紀錄修改原檔案哪邊的部分 */

$navbar-brand-font-size:            $font-size-base * 1.5 !default;

$offcanvas-horizontal-width:        200px !default;
$offcanvas-bg-color:                $secondary !default;