#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image:linear-gradient(rgba(255, 255, 255, 0.71),rgba(0, 199, 229, 0.71));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#tsparticles {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
  }
  